/*
* Popup card css
*/
.wallet-body {
    display: flex;
}
.wallet {
    padding: 10px 0;
    background-color: #80808069;
    margin: 10px;
    min-width: 200px;
    cursor: pointer;
    display: inline-block;
    width: 50%;
}

.wallet:hover {
    transform: scale(1.06);
    transition: transform 500ms ease-in-out 25ms;
}

.wallet .wallet-logo {
    padding: 10px;
}

.wallet .wallet-logo img {
    height: 40px;
}

.wallet .wallet-name {
    font-size: 20px;
}

.wallet-modal h4 {
    font-size: 20px;
    font-weight: bold;
}